In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# mpl.rc('font', family='Malgun Gothic')
mpl.rc('font', family='AppleGothic')

In [2]:
smp = pd.read_csv('sales_member_product_join.csv')
smp.head()

/var/folders/sv/4hcm2v0d5hl630v663cqcpkh0000gn/T/ipykernel_29295/2150694281.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  smp = pd.read_csv('sales_member_product_join.csv')

,Unnamed: 0.1,Unnamed: 0,배송시작일,배송완료일,구매자 자녀 나이(개월),고객번호,구매금액,결제금액,물품대분류_x,상품명,...,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,물품대분류_y,물품판매량,제품단가
0,0,0,2019-05-07,2019-05-11,4,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입),...,여,기혼,인천,37.0,국민은행,인스타그램,Yes,더블하트,2767,20583
1,1,1,2020-02-21,2020-02-23,14,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형),...,여,기혼,인천,37.0,국민은행,인스타그램,Yes,팬티,253,53648
2,2,2,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),...,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,기저귀,872,65117
3,3,3,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),...,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,팬티,51,58086
4,4,4,2019-05-11,2019-05-13,5,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형),...,여,미혼,경남,34.0,기업은행,지인추천,No,기저귀,49,62008

In [3]:
smp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170795 entries, 0 to 170794
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0.1   170795 non-null  int64
 1   Unnamed: 0     170795 non-null  int64
 2   배송시작일          170795 non-null  object
 3   배송완료일          170795 non-null  object
 4   구매자 자녀 나이(개월)  170795 non-null  int64
 5   고객번호           170795 non-null  object
 6   구매금액           170795 non-null  int64
 7   결제금액           170795 non-null  int64
 8   물품대분류_x        170795 non-null  object
 9   상품명            170795 non-null  object
 10  구매일_dt         170795 non-null  object
 11  출산여부           170795 non-null  object
 12  가입일            170795 non-null  object
 13  할인율            170795 non-null  float64
 14  유아용여부          170795 non-null  object
 15  성별             168305 non-null  object
 16  결혼유무           168305 non-null  object
 17  거주지역           168305 non-null  object
 18  연령             168305 non-null  float64
 19  결제등록카드         168305 non-null  object
 20  유입경로           168305 non-null  object
 21  자녀여부           168305 non-null  object
 22  물품대분류_y        170795 non-null  object
 23  물품판매량          170795 non-null  int64
 24  제품단가           170795 non-null  int64
dtypes: float64(2), int64(7), object(16)
memory usage: 32.6+ MB

In [4]:
smp.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace = True)
smp.head()

,배송시작일,배송완료일,구매자 자녀 나이(개월),고객번호,구매금액,결제금액,물품대분류_x,상품명,구매일_dt,출산여부,...,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,물품대분류_y,물품판매량,제품단가
0,2019-05-07,2019-05-11,4,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입),2019-05-06,12개월미만,...,여,기혼,인천,37.0,국민은행,인스타그램,Yes,더블하트,2767,20583
1,2020-02-21,2020-02-23,14,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형),2020-02-20,24개월미만,...,여,기혼,인천,37.0,국민은행,인스타그램,Yes,팬티,253,53648
2,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),2019-05-13,48개월이상,...,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,기저귀,872,65117
3,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),2019-05-13,48개월이상,...,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,팬티,51,58086
4,2019-05-11,2019-05-13,5,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형),2019-05-10,12개월미만,...,여,미혼,경남,34.0,기업은행,지인추천,No,기저귀,49,62008

## 결제금액 이상치 제거

In [5]:
cond1 = (smp['결제금액'] < 0)
smp.loc[cond1]

,배송시작일,배송완료일,구매자 자녀 나이(개월),고객번호,구매금액,결제금액,물품대분류_x,상품명,구매일_dt,출산여부,...,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,물품대분류_y,물품판매량,제품단가
70849,2020-07-01,2020-07-03,12,201904040860910,43900,-35166,팬티,2020 하기스 매직팬티 컴포트 썸머 4단계 공용 96매(팬티형),2020-06-30,24개월미만,...,여,미혼,경기,31.0,씨티은행,지인추천,No,팬티,461,48934

In [6]:
smp.drop(index=70849, inplace=True)

In [7]:
smp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170794 entries, 0 to 170794
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   배송시작일          170794 non-null  object
 1   배송완료일          170794 non-null  object
 2   구매자 자녀 나이(개월)  170794 non-null  int64
 3   고객번호           170794 non-null  object
 4   구매금액           170794 non-null  int64
 5   결제금액           170794 non-null  int64
 6   물품대분류_x        170794 non-null  object
 7   상품명            170794 non-null  object
 8   구매일_dt         170794 non-null  object
 9   출산여부           170794 non-null  object
 10  가입일            170794 non-null  object
 11  할인율            170794 non-null  float64
 12  유아용여부          170794 non-null  object
 13  성별             168304 non-null  object
 14  결혼유무           168304 non-null  object
 15  거주지역           168304 non-null  object
 16  연령             168304 non-null  float64
 17  결제등록카드         168304 non-null  object
 18  유입경로           168304 non-null  object
 19  자녀여부           168304 non-null  object
 20  물품대분류_y        170794 non-null  object
 21  물품판매량          170794 non-null  int64
 22  제품단가           170794 non-null  int64
dtypes: float64(2), int64(5), object(16)
memory usage: 31.3+ MB

## 파생변수 생성('할인율', '판매량')

In [8]:
smp['할인율'] = round(((smp['구매금액']-smp['결제금액']) / smp['구매금액'])*100, 2)
smp['할인율']

0         36.77
1         26.23
2         19.49
3         19.49
4         21.43
          ...
170790     0.00
170791     0.00
170792    43.68
170793    21.03
170794     1.00
Name: 할인율, Length: 170794, dtype: float64

In [9]:
((smp['구매금액']-smp['결제금액']) / smp['구매금액'])*100

0         36.767442
1         26.232422
2         19.485887
3         19.485887
4         21.429700
            ...
170790     0.000000
170791     0.000000
170792    43.683367
170793    21.025641
170794     1.000000
Length: 170794, dtype: float64

In [10]:
smp['판매량'] = round(smp['제품단가']/smp['물품판매량'], 2)
smp['판매량']

0            7.44
1          212.05
2           74.68
3         1138.94
4         1265.47
           ...
170790       0.25
170791       0.25
170792     164.33
170793     251.40
170794      23.98
Name: 판매량, Length: 170794, dtype: float64

## 고객 계층별 할인율과 구매횟수의 상관관계 분석

In [11]:
smp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170794 entries, 0 to 170794
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   배송시작일          170794 non-null  object
 1   배송완료일          170794 non-null  object
 2   구매자 자녀 나이(개월)  170794 non-null  int64
 3   고객번호           170794 non-null  object
 4   구매금액           170794 non-null  int64
 5   결제금액           170794 non-null  int64
 6   물품대분류_x        170794 non-null  object
 7   상품명            170794 non-null  object
 8   구매일_dt         170794 non-null  object
 9   출산여부           170794 non-null  object
 10  가입일            170794 non-null  object
 11  할인율            170794 non-null  float64
 12  유아용여부          170794 non-null  object
 13  성별             168304 non-null  object
 14  결혼유무           168304 non-null  object
 15  거주지역           168304 non-null  object
 16  연령             168304 non-null  float64
 17  결제등록카드         168304 non-null  object
 18  유입경로           168304 non-null  object
 19  자녀여부           168304 non-null  object
 20  물품대분류_y        170794 non-null  object
 21  물품판매량          170794 non-null  int64
 22  제품단가           170794 non-null  int64
 23  판매량            170794 non-null  float64
dtypes: float64(3), int64(5), object(16)
memory usage: 32.6+ MB

In [28]:
p1 = smp['고객번호'].value_counts().reset_index()
p2 = p1.rename(columns={'고객번호':'count', 'index':'고객번호'})
p2

                       고객번호  count
0           201903010820643     57
1           201903010820312     56
2           201903010820392     56
3           201909020975656     55
4           201903030822834     53
...                     ...    ...
63881       201907170940323      1
63882       201902240812106      1
63883       201907170940312      1
63884       201907170940310      1
63885  20200803075905757887      1

[63886 rows x 2 columns]

In [29]:
smp1 = pd.merge(smp, p2, how='left', on='고객번호')
smp1

,배송시작일,배송완료일,구매자 자녀 나이(개월),고객번호,구매금액,결제금액,물품대분류_x,상품명,구매일_dt,출산여부,...,거주지역,연령,결제등록카드,유입경로,자녀여부,물품대분류_y,물품판매량,제품단가,판매량,count
0,2019-05-07,2019-05-11,4,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입),2019-05-06,12개월미만,...,인천,37.0,국민은행,인스타그램,Yes,더블하트,2767,20583,7.44,2
1,2020-02-21,2020-02-23,14,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형),2020-02-20,24개월미만,...,인천,37.0,국민은행,인스타그램,Yes,팬티,253,53648,212.05,2
2,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),2019-05-13,48개월이상,...,부산,32.0,하나은행,네이버블로그,Yes,기저귀,872,65117,74.68,2
3,2019-05-14,2019-05-16,66,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),2019-05-13,48개월이상,...,부산,32.0,하나은행,네이버블로그,Yes,팬티,51,58086,1138.94,2
4,2019-05-11,2019-05-13,5,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형),2019-05-10,12개월미만,...,경남,34.0,기업은행,지인추천,No,기저귀,49,62008,1265.47,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170789,2020-07-02,2020-07-05,0,20200701135343105212,3000,3000,체험팩,맘큐 허그박스,2020-07-01,12개월미만,...,NaN,NaN,NaN,NaN,NaN,체험팩,12077,3000,0.25,1
170790,2020-07-03,2020-07-07,0,20200701145626242035,3000,3000,체험팩,맘큐 허그박스,2020-07-02,12개월미만,...,NaN,NaN,NaN,NaN,NaN,체험팩,12077,3000,0.25,1
170791,2020-07-10,2020-07-12,6,20200708231025349606,49900,28102,기저귀,하기스 NEW 네이처메이드 썸머 3단계 공용 120매(밴드형),2020-07-09,12개월미만,...,NaN,NaN,NaN,NaN,NaN,기저귀,332,54559,164.33,1
170792,2020-07-25,2020-07-27,5,20200724113017315991,11700,9240,FMC,크리넥스 뽑아쓰는 키친타월 펭수에디션 140매 X 4입 (EA),2020-07-24,12개월미만,...,NaN,NaN,NaN,NaN,NaN,FMC,55,13827,251.40,1
170793,2020-08-04,2020-08-07,5,20200803075905757887,5900,5841,체험팩,NEW 하기스 맥스드라이 팬티 3단계 공용 20매(팬티형/체험팩) (EA),2020-08-03,12개월미만,...,NaN,NaN,NaN,NaN,NaN,체험팩,246,5900,23.98,1

In [30]:
smp1['count'].value_counts()
# count는 각 고객별로 구매한 횟수를 나타낸 것임

1     32749
2     23784
3     18078
4     14392
5     11960
6     10242
7      8932
8      7768
9      6741
10     5550
11     4543
12     3864
13     3042
14     2646
15     2115
16     2048
17     1734
18     1584
20     1100
21      903
19      817
22      814
23      690
24      600
26      364
28      336
53      265
29      261
31      248
25      225
27      216
39      195
32      192
38      190
37      185
30      180
46      138
33      132
41      123
56      112
51      102
34      102
47       94
36       72
35       70
57       57
55       55
52       52
50       50
42       42
40       40
Name: count, dtype: int64

In [31]:
cond1 = (smp1['count'] > 2)
smp1.loc[~cond1, '구매횟수별구분'] = '1~2회'
smp1.loc[cond1, '구매횟수별구분'] = '3회 이상'
smp1['구매횟수별구분'].value_counts()

3회 이상    114261
1~2회      56533
Name: 구매횟수별구분, dtype: int64

In [32]:
cond1 = (smp1['구매횟수별구분']=='1~2회')
cond2 = (smp1['구매횟수별구분']=='3회 이상')
smp1_12 = smp1.loc[cond1]
smp1_3 = smp1.loc[cond2]

In [33]:
# 정규분포 확인
# 귀무가설: 정규분포를 따른다 
# 대립가설: 정규분포를 따르지 않는다
print('구매횟수 : ',stats.normaltest(smp1_12['count']))
print('할인율 : ', stats.normaltest(smp1_12['할인율']))
# 구매횟수 P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 할인율  P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 구매횟수, 할인율은 정규분포를 따르지 않는다

구매횟수 :  NormaltestResult(statistic=206371.7272602918, pvalue=0.0)
할인율 :  NormaltestResult(statistic=5002.64996794106, pvalue=0.0)

In [34]:
# 상관관계 확인
# 귀무가설: 서로 연관성이 없다
# 대립가설: 서로 연관성이 있다
stats.spearmanr(smp1_12['count'], smp1_12['할인율'])
# P.value < 0.05 | 대립가설 참 |구매횟수와 할인율은 상관성이 있다.

SignificanceResult(statistic=0.13604677261906734, pvalue=1.1428016515595493e-231)

In [35]:
# 정규분포 확인
# 귀무가설: 정규분포를 따른다 
# 대립가설: 정규분포를 따르지 않는다
print('구매횟수 : ',stats.normaltest(smp1_3['count']))
print('할인율 : ', stats.normaltest(smp1_3['할인율']))
# 구매횟수 P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 할인율  P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 구매횟수, 할인율은 정규분포를 따르지 않는다

구매횟수 :  NormaltestResult(statistic=68483.30897491435, pvalue=0.0)
할인율 :  NormaltestResult(statistic=191.04382507025315, pvalue=3.276125160766977e-42)

In [38]:
# 상관관계 확인 (구매횟수 할인율 둘다 정규분포 아님)
# 귀무가설: 서로 연관성이 없다
# 대립가설: 서로 연관성이 있다
stats.spearmanr(smp1_3['count'], smp1_3['할인율'])
# P.value < 0.05 | 대립가설 참 |구매횟수와 할인율은 상관성이 있다.

SignificanceResult(statistic=0.07097633348592831, pvalue=1.6452380475423585e-127)

In [37]:
# 물품대분류별 재구매수 파악
# 상품의 변수(대분류,가격) 간의 독립성 검정
# 2번에서 나온 독립된 변수와 재구매 수의 상관 분석

In [41]:
smp1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170794 entries, 0 to 170793
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   배송시작일          170794 non-null  object
 1   배송완료일          170794 non-null  object
 2   구매자 자녀 나이(개월)  170794 non-null  int64
 3   고객번호           170794 non-null  object
 4   구매금액           170794 non-null  int64
 5   결제금액           170794 non-null  int64
 6   물품대분류_x        170794 non-null  object
 7   상품명            170794 non-null  object
 8   구매일_dt         170794 non-null  object
 9   출산여부           170794 non-null  object
 10  가입일            170794 non-null  object
 11  할인율            170794 non-null  float64
 12  유아용여부          170794 non-null  object
 13  성별             168304 non-null  object
 14  결혼유무           168304 non-null  object
 15  거주지역           168304 non-null  object
 16  연령             168304 non-null  float64
 17  결제등록카드         168304 non-null  object
 18  유입경로           168304 non-null  object
 19  자녀여부           168304 non-null  object
 20  물품대분류_y        170794 non-null  object
 21  물품판매량          170794 non-null  int64
 22  제품단가           170794 non-null  int64
 23  판매량            170794 non-null  float64
 24  count          170794 non-null  int64
 25  구매횟수별구분        170794 non-null  object
dtypes: float64(3), int64(6), object(17)
memory usage: 35.2+ MB

In [57]:
cond1 = (smp1['count'] == 1)
cond2 = (smp1['count'] == 2)
cond3 = (smp1['count'] > 2)
smp1.loc[cond1]
smp1.loc[cond1, '재구매수'] = '1회'
smp1.loc[cond2, '재구매수'] = '2회'
smp1.loc[cond3, '재구매수'] = '3회 이상'
smp1['재구매수'].value_counts()

3회 이상    114261
1회        32749
2회        23784
Name: 재구매수, dtype: int64

In [59]:
smp1.pivot_table(index='물품대분류_x', values='count', columns='재구매수',aggfunc='count')

재구매수        1회    2회  3회 이상
물품대분류_x
FC         886   975   5634
FMC       2379  1964  10418
SKC       1503  1402   3865
SrC          1     1      9
기저귀       4360  4910  29134
기타         716   827   4918
더블하트      6142  5353  22025
물티슈       1109   770   3836
체험팩      12718  4929  14380
팬티        2935  2653  20042

In [60]:
smp1.pivot_table(index='물품대분류_y', values='count', columns='재구매수',aggfunc='count')

재구매수        1회    2회  3회 이상
물품대분류_y
FC         886   975   5633
FMC       2379  1964  10418
SKC       1503  1402   3865
SrC          1     1     10
기저귀       4360  4203  24187
기타         716  1019   6146
더블하트      6142  5353  22025
물티슈       1109   757   3794
체험팩      12718  4929  14380
팬티        2935  3181  23803

In [67]:
# 정규분포 확인
# 귀무가설: 정규분포를 따른다 
# 대립가설: 정규분포를 따르지 않는다
print('제품단가 : ',stats.normaltest(smp1['제품단가']))
print('count : ',stats.normaltest(smp1['count']))
# 제품단가 P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# count  P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 제품단가, count는 정규분포를 따르지 않는다

제품단가 :  NormaltestResult(statistic=29049.28915060082, pvalue=0.0)
count :  NormaltestResult(statistic=105879.01133550433, pvalue=0.0)

In [66]:
# 상관관계 확인 (제품단가, count 둘다 정규분포 아님)
# 귀무가설: 서로 연관성이 없다
# 대립가설: 서로 연관성이 있다
stats.spearmanr(smp1['제품단가'], smp1['count'])
# P.value < 0.05 | 대립가설 참 |제품단가, count는 상관성이 있다.

SignificanceResult(statistic=0.2264033492784376, pvalue=0.0)

In [73]:
smp1.corr(method='spearman')
# 각 연속형 변수의 상관성 확인

/var/folders/sv/4hcm2v0d5hl630v663cqcpkh0000gn/T/ipykernel_29295/2997478371.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  smp1.corr(method='spearman')

,구매자 자녀 나이(개월),구매금액,결제금액,할인율,연령,물품판매량,제품단가,판매량,count
구매자 자녀 나이(개월),1.000000,0.095095,0.095011,0.111381,-0.002153,-0.297078,0.104922,0.254010,0.162638
구매금액,0.095095,1.000000,0.979279,0.458419,-0.001167,-0.176369,0.951332,0.582983,0.230792
결제금액,0.095011,0.979279,1.000000,0.311533,-0.001688,-0.185130,0.929738,0.584881,0.222151
할인율,0.111381,0.458419,0.311533,1.000000,0.003091,-0.098870,0.475401,0.263086,0.147623
연령,-0.002153,-0.001167,-0.001688,0.003091,1.000000,-0.005027,0.000308,0.003935,0.003809
물품판매량,-0.297078,-0.176369,-0.185130,-0.098870,-0.005027,1.000000,-0.136730,-0.860606,-0.217992
제품단가,0.104922,0.951332,0.929738,0.475401,0.000308,-0.136730,1.000000,0.565615,0.226403
판매량,0.254010,0.582983,0.584881,0.263086,0.003935,-0.860606,0.565615,1.000000,0.263166
count,0.162638,0.230792,0.222151,0.147623,0.003809,-0.217992,0.226403,0.263166,1.000000

In [74]:
smp1['할인율'].corr(smp1['count'], method='spearman')

0.14762349228462182

In [75]:
# 정규분포 확인
# 귀무가설: 정규분포를 따른다 
# 대립가설: 정규분포를 따르지 않는다
print('할인율 : ',stats.normaltest(smp1['할인율']))
print('count : ',stats.normaltest(smp1['count']))
# 제품단가 P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# count  P.value < 0.05 | 대립가설 참 | 정규분포를 따르지 않는다
# 제품단가, count는 정규분포를 따르지 않는다

제품단가 :  NormaltestResult(statistic=717.0354765672807, pvalue=1.984835865730081e-156)
count :  NormaltestResult(statistic=105879.01133550433, pvalue=0.0)

In [76]:
# 상관관계 확인 (제품단가, count 둘다 정규분포 아님)
# 귀무가설: 서로 연관성이 없다
# 대립가설: 서로 연관성이 있다
stats.spearmanr(smp1['할인율'], smp1['count'])
# P.value < 0.05 | 대립가설 참 |제품단가, count는 상관성이 있다.

SignificanceResult(statistic=0.14762349228462182, pvalue=0.0)

## 해보고 싶은 거 해보고 있는중..

In [78]:
smp1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170794 entries, 0 to 170793
Data columns (total 27 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   배송시작일          170794 non-null  object
 1   배송완료일          170794 non-null  object
 2   구매자 자녀 나이(개월)  170794 non-null  int64
 3   고객번호           170794 non-null  object
 4   구매금액           170794 non-null  int64
 5   결제금액           170794 non-null  int64
 6   물품대분류_x        170794 non-null  object
 7   상품명            170794 non-null  object
 8   구매일_dt         170794 non-null  object
 9   출산여부           170794 non-null  object
 10  가입일            170794 non-null  object
 11  할인율            170794 non-null  float64
 12  유아용여부          170794 non-null  object
 13  성별             168304 non-null  object
 14  결혼유무           168304 non-null  object
 15  거주지역           168304 non-null  object
 16  연령             168304 non-null  float64
 17  결제등록카드         168304 non-null  object
 18  유입경로           168304 non-null  object
 19  자녀여부           168304 non-null  object
 20  물품대분류_y        170794 non-null  object
 21  물품판매량          170794 non-null  int64
 22  제품단가           170794 non-null  int64
 23  판매량            170794 non-null  float64
 24  count          170794 non-null  int64
 25  구매횟수별구분        170794 non-null  object
 26  재구매수           170794 non-null  object
dtypes: float64(3), int64(6), object(18)
memory usage: 36.5+ MB

In [97]:
smp1.select_dtypes("object").columns

Index(['배송시작일', '배송완료일', '고객번호', '물품대분류_x', '상품명', '구매일_dt', '출산여부', '가입일',
       '유아용여부', '성별', '결혼유무', '거주지역', '결제등록카드', '유입경로', '자녀여부', '물품대분류_y',
       '구매횟수별구분', '재구매수'],
      dtype='object')

'고객번호', '물품대분류_x', '상품명', '출산여부','유아용여부', '성별', '결혼유무', '거주지역', '결제등록카드', '유입경로', '자녀여부', '물품대분류_y','재구매수'

In [86]:
c1 = pd.crosstab(smp1['고객번호'], smp1['물품대분류_x'])

In [87]:
stats.chi2_contingency(c1)

Chi2ContingencyResult(statistic=753811.9266360594, pvalue=0.0, dof=574965, expected_freq=array([[0.08776655, 0.17285151, 0.07927679, ..., 0.06692273, 0.37503659,
        0.30012764],
       [0.08776655, 0.17285151, 0.07927679, ..., 0.06692273, 0.37503659,
        0.30012764],
       [0.08776655, 0.17285151, 0.07927679, ..., 0.06692273, 0.37503659,
        0.30012764],
       ...,
       [0.04388327, 0.08642575, 0.03963839, ..., 0.03346136, 0.1875183 ,
        0.15006382],
       [0.04388327, 0.08642575, 0.03963839, ..., 0.03346136, 0.1875183 ,
        0.15006382],
       [0.04388327, 0.08642575, 0.03963839, ..., 0.03346136, 0.1875183 ,
        0.15006382]]))

In [111]:
c2 = pd.crosstab(smp1['고객번호'], smp1['상품명'])

In [112]:
stats.chi2_contingency(c2)

Chi2ContingencyResult(statistic=160954643.6579373, pvalue=1.0, dof=177983610, expected_freq=array([[2.34200265e-05, 1.17100132e-05, 1.17100132e-05, ...,
        1.52230172e-04, 8.19700926e-05, 3.51300397e-05],
       [2.34200265e-05, 1.17100132e-05, 1.17100132e-05, ...,
        1.52230172e-04, 8.19700926e-05, 3.51300397e-05],
       [2.34200265e-05, 1.17100132e-05, 1.17100132e-05, ...,
        1.52230172e-04, 8.19700926e-05, 3.51300397e-05],
       ...,
       [1.17100132e-05, 5.85500662e-06, 5.85500662e-06, ...,
        7.61150860e-05, 4.09850463e-05, 1.75650198e-05],
       [1.17100132e-05, 5.85500662e-06, 5.85500662e-06, ...,
        7.61150860e-05, 4.09850463e-05, 1.75650198e-05],
       [1.17100132e-05, 5.85500662e-06, 5.85500662e-06, ...,
        7.61150860e-05, 4.09850463e-05, 1.75650198e-05]]))

In [117]:
c3  = pd.crosstab(smp1['고객번호'], smp1['출산여부'])

In [118]:
stats.chi2_contingency(c3)

Chi2ContingencyResult(statistic=681872.6376388259, pvalue=0.0, dof=319425, expected_freq=array([[1.32512852, 0.26388515, 0.0899329 , 0.05641884, 0.09246226,
        0.17217232],
       [1.32512852, 0.26388515, 0.0899329 , 0.05641884, 0.09246226,
        0.17217232],
       [1.32512852, 0.26388515, 0.0899329 , 0.05641884, 0.09246226,
        0.17217232],
       ...,
       [0.66256426, 0.13194257, 0.04496645, 0.02820942, 0.04623113,
        0.08608616],
       [0.66256426, 0.13194257, 0.04496645, 0.02820942, 0.04623113,
        0.08608616],
       [0.66256426, 0.13194257, 0.04496645, 0.02820942, 0.04623113,
        0.08608616]]))

In [119]:
c4 = pd.crosstab(smp1['고객번호'], smp1['유아용여부'])

In [120]:
stats.chi2_contingency(c4)

Chi2ContingencyResult(statistic=90249.94748748306, pvalue=0.0, dof=63885, expected_freq=array([[0.27269108, 1.72730892],
       [0.27269108, 1.72730892],
       [0.27269108, 1.72730892],
       ...,
       [0.13634554, 0.86365446],
       [0.13634554, 0.86365446],
       [0.13634554, 0.86365446]]))

In [121]:
c5  = pd.crosstab(smp1['고객번호'], smp1['성별'])

In [122]:
stats.chi2_contingency(c5)

Chi2ContingencyResult(statistic=168303.99999999994, pvalue=0.0, dof=62521, expected_freq=array([[0.06296939, 1.93703061],
       [0.06296939, 1.93703061],
       [0.06296939, 1.93703061],
       ...,
       [0.03148469, 0.96851531],
       [0.03148469, 0.96851531],
       [0.03148469, 0.96851531]]))

In [124]:
c6  = pd.crosstab(smp1['고객번호'], smp1['결혼유무'])

In [125]:
stats.chi2_contingency(c6)

Chi2ContingencyResult(statistic=168304.00000000006, pvalue=0.0, dof=62521, expected_freq=array([[1.69433882, 0.30566118],
       [1.69433882, 0.30566118],
       [1.69433882, 0.30566118],
       ...,
       [0.84716941, 0.15283059],
       [0.84716941, 0.15283059],
       [0.84716941, 0.15283059]]))

In [126]:
c7  = pd.crosstab(smp1['고객번호'], smp1['거주지역'])

In [127]:
stats.chi2_contingency(c7)

Chi2ContingencyResult(statistic=2356256.0, pvalue=0.0, dof=875294, expected_freq=array([[0.16900371, 0.38291425, 0.07331971, ..., 0.02516874, 0.15185617,
        0.20750547],
       [0.16900371, 0.38291425, 0.07331971, ..., 0.02516874, 0.15185617,
        0.20750547],
       [0.16900371, 0.38291425, 0.07331971, ..., 0.02516874, 0.15185617,
        0.20750547],
       ...,
       [0.08450185, 0.19145713, 0.03665985, ..., 0.01258437, 0.07592808,
        0.10375273],
       [0.08450185, 0.19145713, 0.03665985, ..., 0.01258437, 0.07592808,
        0.10375273],
       [0.08450185, 0.19145713, 0.03665985, ..., 0.01258437, 0.07592808,
        0.10375273]]))

In [128]:
c8  = pd.crosstab(smp1['고객번호'], smp1['결제등록카드'])

In [129]:
stats.chi2_contingency(c8)

Chi2ContingencyResult(statistic=3870991.9999999977, pvalue=0.0, dof=1437983, expected_freq=array([[0.06573819, 0.01960738, 0.00551383, ..., 0.01480654, 0.06545299,
        0.05353408],
       [0.06573819, 0.01960738, 0.00551383, ..., 0.01480654, 0.06545299,
        0.05353408],
       [0.06573819, 0.01960738, 0.00551383, ..., 0.01480654, 0.06545299,
        0.05353408],
       ...,
       [0.03286909, 0.00980369, 0.00275692, ..., 0.00740327, 0.03272649,
        0.02676704],
       [0.03286909, 0.00980369, 0.00275692, ..., 0.00740327, 0.03272649,
        0.02676704],
       [0.03286909, 0.00980369, 0.00275692, ..., 0.00740327, 0.03272649,
        0.02676704]]))

In [85]:
c2 = pd.crosstab(smp1['고객번호'], smp1['물품대분류_y'])

In [88]:
stats.chi2_contingency(c2)

Chi2ContingencyResult(statistic=725261.8682379613, pvalue=0.0, dof=574965, expected_freq=array([[0.08775484, 0.17285151, 0.07927679, ..., 0.06627867, 0.37503659,
        0.35035189],
       [0.08775484, 0.17285151, 0.07927679, ..., 0.06627867, 0.37503659,
        0.35035189],
       [0.08775484, 0.17285151, 0.07927679, ..., 0.06627867, 0.37503659,
        0.35035189],
       ...,
       [0.04387742, 0.08642575, 0.03963839, ..., 0.03313934, 0.1875183 ,
        0.17517594],
       [0.04387742, 0.08642575, 0.03963839, ..., 0.03313934, 0.1875183 ,
        0.17517594],
       [0.04387742, 0.08642575, 0.03963839, ..., 0.03313934, 0.1875183 ,
        0.17517594]]))

In [102]:
c4 = pd.crosstab(smp1['상품명'], smp1['재구매수'])

In [103]:
stats.chi2_contingency(c4)

Chi2ContingencyResult(statistic=41907.95014101642, pvalue=0.0, dof=5572, expected_freq=array([[0.38349122, 0.27851095, 1.33799782],
       [0.19174561, 0.13925548, 0.66899891],
       [0.19174561, 0.13925548, 0.66899891],
       ...,
       [2.49269295, 1.81032121, 8.69698584],
       [1.34221928, 0.97478834, 4.68299238],
       [0.57523684, 0.41776643, 2.00699673]]))

In [105]:
c5 = pd.crosstab(smp1['거주지역'], smp1['유입경로'])

In [106]:
stats.chi2_contingency(c5)

Chi2ContingencyResult(statistic=899.9532697941994, pvalue=4.38246494936452e-117, dof=126, expected_freq=array([[1.40492782e+03, 4.02947090e+03, 9.97121875e+02, 6.78549886e+01,
        3.62681956e+02, 3.77723286e+01, 5.48898692e+03, 1.40146325e+03,
        1.93509245e+02, 2.38210726e+02],
       [3.18316616e+03, 9.12963302e+03, 2.25919408e+03, 1.53740072e+02,
        8.21733981e+02, 8.55813350e+01, 1.24364805e+04, 3.17531642e+03,
        4.38436817e+02, 5.39717636e+02],
       [6.09506726e+02, 1.74812512e+03, 4.32586272e+02, 2.94378624e+01,
        1.57344092e+02, 1.63869546e+01, 2.38131411e+03, 6.08003672e+02,
        8.39510647e+01, 1.03344127e+02],
       [7.02167554e+02, 2.01388547e+03, 4.98350604e+02, 3.39131809e+01,
        1.81264474e+02, 1.88781966e+01, 2.74333561e+03, 7.00435997e+02,
        9.67138036e+01, 1.19055115e+02],
       [4.28729204e+02, 1.22963744e+03, 3.04282726e+02, 2.07066974e+01,
        1.10676395e+02, 1.15266423e+01, 1.67502484e+03, 4.27671951e+02,
        5.90514783e+01, 7.26926276e+01],
       [4.54314657e+02, 1.30301903e+03, 3.22441534e+02, 2.19424197e+01,
        1.17281277e+02, 1.22145225e+01, 1.77498600e+03, 4.53194309e+02,
        6.25755181e+01, 7.70307360e+01],
       [7.06316546e+02, 2.02578519e+03, 5.01295275e+02, 3.41135683e+01,
        1.82335536e+02, 1.89897447e+01, 2.75954552e+03, 7.04574758e+02,
        9.72852695e+01, 1.19758592e+02],
       [1.44572625e+03, 4.14648478e+03, 1.02607781e+03, 6.98254646e+01,
        3.73214065e+02, 3.88692188e+01, 5.64838444e+03, 1.44216106e+03,
        1.99128660e+02, 2.45128250e+02],
       [2.79079003e+03, 8.00425976e+03, 1.98071228e+03, 1.34789149e+02,
        7.20442129e+02, 7.50320670e+01, 1.09034854e+04, 2.78390790e+03,
        3.84392468e+02, 4.73188807e+02],
       [7.79220268e+02, 2.23488022e+03, 5.53037361e+02, 3.76346611e+01,
        2.01155623e+02, 2.09498051e+01, 3.04437694e+03, 7.77298698e+02,
        1.07326742e+02, 1.32119688e+02],
       [4.36138119e+02, 1.25088694e+03, 3.09541069e+02, 2.10645320e+01,
        1.12589006e+02, 1.17258354e+01, 1.70397112e+03, 4.35062595e+02,
        6.00719531e+01, 7.39488366e+01],
       [4.88395665e+02, 1.40076671e+03, 3.46629908e+02, 2.35884590e+01,
        1.26079285e+02, 1.31308109e+01, 1.90813889e+03, 4.87191273e+02,
        6.72697024e+01, 8.28092975e+01],
       [2.09227755e+02, 6.00085738e+02, 1.48495579e+02, 1.01052500e+01,
        5.40121209e+01, 5.62521390e+00, 8.17442996e+02, 2.08711795e+02,
        2.88182099e+01, 3.54753422e+01],
       [1.26238030e+03, 3.62063061e+03, 8.95951374e+02, 6.09702503e+01,
        3.25883330e+02, 3.39398529e+01, 4.93206046e+03, 1.25926725e+03,
        1.73875309e+02, 2.14041265e+02],
       [1.72499294e+03, 4.94744908e+03, 1.22428225e+03, 8.33134447e+01,
        4.45306731e+02, 4.63774717e+01, 6.73946629e+03, 1.72073908e+03,
        2.37593759e+02, 2.92478955e+02]]))

In [108]:
c6 = pd.crosstab(smp1['성별'], smp1['거주지역'])

In [109]:
stats.chi2_contingency(c6)

Chi2ContingencyResult(statistic=62.81836890378455, pvalue=3.73729428640863e-08, dof=14, expected_freq=array([[  447.77532322,  1014.53130645,   194.26056422,   223.79320753,
          136.64357353,   144.79810937,   225.11556469,   460.778502  ,
          889.47410044,   248.35126913,   139.00492561,   155.66032893,
           66.68458266,   402.34290926,   549.78573296],
       [13774.22467678, 31208.46869355,  5975.73943578,  6884.20679247,
         4203.35642647,  4454.20189063,  6924.88443531, 14174.221498  ,
        27361.52589956,  7639.64873087,  4275.99507439,  4788.33967107,
         2051.31541734, 12376.65709074, 16912.21426704]]))